<%- include("templates/encabezado")%>
<%- include("templates/menuUsuario")%>

<body>
<main>
    
    <section class="projects">
        <div class="container">
            <h2 class="subtitle">¿Que puedes hacer con LifeWeaver?</h2>
            <div class="projects__grid">

                <article class="projects__item">
                    <img src="/public/assets/aprender-plantas.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Aprender sobre plantas</h2>
                        <i class="far fa-file-alt projects__icon"></i>
                    </div>
                </article>

                <article class="projects__item">
                    <img src="/public/assets/cuidado-plantas.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Cuidado de las plantas</h2>
                        <i class="far fa-file-alt projects__icon"></i>
                    </div>
                </article>

                <article class="projects__item">
                    <img src="/public/assets/recomendaciones-jardin.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Recomendaciones para tu jardin</h2>
                        <i class="far fa-file-alt projects__icon"></i>
                    </div>
                </article>

            </div>
        </div>
    </section>

    <section class="testimony container">

    </section>
</main>

<%- include("templates/footer")%>
<%- include("templates/pie")%>