<%- include("templates/encabezado")%>
<%- include("templates/menuUsuario")%>

<body>
<main>
    <section class="presentation container">

        <img src="/public/assets/logo LW.png" class="presentation__picture" alt="">
        <h2 class="subtitle">Quiénes somos</h2>
        <p class="presentation__copy">La propuesta de una aplicación móvil que proporcione una base dedatos y sistema de riego automatizado para plantas tiene comoobjetivo fomentar la importancia de tener vegetación en nuestroshogares y comunidades, y ofrecer una solución para cuidar lasplantas de manera eficiente y efectiva.</p>
        <a href="nosotros.html" class="presentation__cta">Conócenos</a>
    </section>

    <section class="about container">

        <div class="about__texts">
            <h2 class="subtitle">Misión</h2>
            <p class="about__paragraph">En nuestra empresa, nos comprometemos a promover y facilitar el cuidado de las plantas con el objetivo de construir un futuro sostenible para nuestro planeta. Nuestra misión es proporcionar a nuestros clientes los conocimientos, herramientas y productos necesarios para cultivar y mantener plantas saludables, al tiempo que fomentamos la conciencia ambiental y el respeto por la naturaleza.</p>
        </div>

        <div class="about__texts">
            <h2 class="subtitle">Visión</h2>
            <p class="about__paragraph">Nuestra visión es crear un mundo en el que el cuidado de las plantas sea una prioridad fundamental para las personas y las comunidades. Nos esforzamos por ser líderes en la industria del cuidado de las plantas, impulsando la innovación, la educación y la concienciación sobre la importancia de las plantas en nuestra vida diaria y en la sostenibilidad del planeta.</p>
        </div>

        <div class="about__texts">
            <h2 class="subtitle">Valores</h2>
            <p class="about__paragraph">
                <h4>Sostenibilidad</h4>Promovemos prácticas respetuosas con el medio ambiente.
                <h4>Conciencia ambiental</h4>Fomentamos la comprensión y el cuidado de la naturaleza.
                <h4>Calidad y excelencia</h4>Buscamos la excelencia en productos y servicios.
                <h4>Ética y responsabilidad</h4>Operamos de manera transparente y responsable.</p>
        </div>
    </section>

    <section class="projects">
        <div class="container">
            <h2 class="subtitle">¿Que puedes hacer con LifeWeaver?</h2>
            <div class="projects__grid">

                <article class="projects__item">
                    <img src="/public/assets/aprender-plantas.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Aprender sobre plantas</h2>
                        <i class="far fa-file-alt projects__icon"></i>
                    </div>
                </article>

                <article class="projects__item">
                    <img src="/public/assets/cuidado-plantas.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Cuidado de las plantas</h2>
                        <i class="far fa-file-alt projects__icon"></i>
                    </div>
                </article>

                <article class="projects__item">
                    <img src="/public/assets/recomendaciones-jardin.jpg" class="projects__img">
                    <div class="projects__hover">
                        <h2 class="projects__title">Recomendaciones para tu jardin</h2>
                        <i class="far fa-file-alt projects__icon"></i>
                    </div>
                </article>

            </div>
        </div>
    </section>

    <section class="testimony container">
         <!-- **************************************
            <h2 class="subtitle">Nuestro Equipo</h2>
         <p class="testimony__texts">
            Aarón David Olguin Pichardo <br>
            Angel Gabriel Maldonado Salinas <br>
            Estefanía Cabal Aguado <br>
            Josúe Iván Trejo Reséndiz <br>
        </p>  
        ********************************************        
        -->

        <section class="projects">
            <div class="container">
                <h2 class="subtitle">Nuestro equipo</h2>
                <div class="projects__grid2">
    
                    <article class="projects__item">
                        <img src="/public/assets/user_image_F.png" class="projects__img">
                        <div class="projects__hover">
                            <h2 class="projects__title">Estefania Cabal Aguado</h2>
                            <i class="far fa-file-alt projects__icon"></i>
                        </div>
                    </article>
    
                    <article class="projects__item">
                        <img src="/public/assets/user_image_M.png" class="projects__img">
                        <div class="projects__hover">
                            <h2 class="projects__title">Angel Gabriel Maldonado Salinas</h2>
                            <i class="far fa-file-alt projects__icon"></i>
                        </div>
                    </article>
    
                    <article class="projects__item">
                        <img src="/public/assets/user_image_M.png" class="projects__img">
                        <div class="projects__hover">
                            <h2 class="projects__title">Josúe Iván Trejo Reséndiz</h2>
                            <i class="far fa-file-alt projects__icon"></i>
                        </div>
                    </article>

                    <article class="projects__item">
                        <img src="/public/assets/user_image_M.png" class="projects__img">
                        <div class="projects__hover">
                            <h2 class="projects__title">Aarón David Olguín Pichardo</h2>
                            <i class="far fa-file-alt projects__icon"></i>
                        </div>
                    </article>
    
                </div>
            </div>
        </section>


    </section>
</main>

<%- include("templates/footer")%>
<%- include("templates/pie")%>