<%- include("templates/encabezado")%>
    <body class="formulario">
        
        <section>
            <section class="form__register">
                <h2>Registro exitoso</h2>
                <a href="iniciarSesion"><input class="form__botons" type="submit" value="Iniciar sesion"></a>
            </section>
        </section>

        <script src="https://kit.fontawesome.com/f890456237.js" crossorigin="anonymous"></script>
    </body>
</html>