<footer class="footer">
    <div class="container footer__grid">

        <nav class="nav nav--footer">
            <a class="nav__items nav__items--footer" href="">LifeWeaver</a>
            <a class="nav__items nav__items--footer" href="nosotros.html">Nosotros</a>
            <a class="nav__items nav__items--footer" href="">Contacto</a>
        </nav>

        <section class="footer__contact">
            <h3 class="footer__title">Contactanos</h3>
            <div class="footer__icons">
                <span class="footer__container-icons">
                    <a class="fab fa-facebook-f footer__icon" href="#"></a>
                </span>

                <span class="footer__container-icons">
                    <a class="fab fa-twitter footer__icon" href="#"></a>
                </span>

                <span class="footer__container-icons">
                    <a class="fab fa-whatsapp footer__icon" href="#"></a>
                </span>

            </div>
        </section>
    </div>
</footer>