<header class="hero">
    <div class="container">
        <nav class="nav">
            <a href="iniciarSesion" class="nav__items nav__items--cta">Iniciar Sesion</a>
            <a href="/" class="nav__items">Nosotros</a>
            <a href="/" class="nav__items">Inicio</a>

            <div class="dropdown">
                <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; border-color: transparent;">
                  <img src="../../public/assets/burger_menu_2.png"  width="80" height="80">
                </button>
                <ul class="dropdown-menu">
                  
                  <li><a class="dropdown-item" href="#">Soporte</a></li>
                </ul>
              </div>

        </nav>


        <section class="hero__container">
          <div class="projects__grid3">

            <article class="container">
              <div class="hero__texts">
                <h1 class="hero__title">LifeWeaver</h1>
                <h2 class="hero__subtitle">Por una vida tejida en verde</h1>
            </div>
            </article>

            <article class="container">
              <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../../public/assets/Carousel/imgCarousel_4.jpg" class="d-block " alt="..." width="800" height="350" style="opacity: 0.3;">
                    <div class="carousel-caption d-none d-md-block">
                      <h2 style="color: white;">First slide label</h2>
                      <h4 style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus numquam ad nemo, laborum facere dolorem, repellat harum dolorum aut tempora ipsum aspernatur! Vel, nam quas adipisci sequi sint illo dolore!</h4>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../public/assets/Carousel/imgCarousel_2.jpg" class="d-block " alt="..." width="800" height="350" style="opacity: 0.3;">
                    <div class="carousel-caption d-none d-md-block">
                      <h2 style="color: white;">Second slide label</h2>
                      <h4 style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatem doloribus dolor veritatis exercitationem sapiente porro minima voluptas ipsum. Adipisci amet id ipsa voluptatem temporibus eveniet quae incidunt asperiores animi!</h4>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../public/assets/Carousel/imgCarousel_3.webp" class="d-block " alt="..." width="800" height="350" style="opacity: 0.3;">
                    <div class="carousel-caption d-none d-md-block">
                      <h2 style="color: white;">Third slide label</h2>
                      <h4 style="color: white;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus aperiam et ipsam doloremque, asperiores minima similique ratione aspernatur fuga voluptatem molestias, unde eum magni nam repellendus, incidunt labore est! Soluta.</h4>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </article>

        </div>
        </section>
        

        <!--
        <section class="hero__container">
            <div class="hero__texts">
                <h1 class="hero__title">LifeWeaver</h1>
                <h2 class="hero__subtitle">Por una vida tejida en verde</h1>
                <!-    <a href="#" class="hero__cta">Comenzar</a>    boton inservible  -> 
            </div>
        </section>
      -->
    </div>
    <div class="hero__wave" style="overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C150.00,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
</header>