<header class="hero">
    <div class="container">
        <nav class="nav">
            <a href="/lifeWeaver" class="nav__items nav__items--cta">LifeWeaver</a>
            <a href="/nosotros" class="nav__items">Nosotros</a>
            <a href="/inicio" class="nav__items">Inicio</a>
            
            <div class="dropdown">
                <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; border-color: transparent;">
                  <img src="../../public/assets/burger_menu_2.png"  width="80" height="80">
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/editarPerfil">Editar perfil</a></li>
                  <li> <br></li>
                  <li><a class="dropdown-item" href="#">Soporte</a></li>
                  <li> <br></li>
                  <li><a class="dropdown-item" href="/logout">Cerrar sesion</a></li>
                </ul>
              </div>

        </nav>


        <section class="hero__container">
          <div class="projects__grid3">

            <article class="container">
              <div class="hero__texts">
                <h1 class="hero__title">LifeWeaver</h1>
                <h2 class="hero__subtitle">Por una vida tejida en verde</h1>
            </div>
            </article>            

        </div>
        </section>
        

        <!--
        <section class="hero__container">
            <div class="hero__texts">
                <h1 class="hero__title">LifeWeaver</h1>
                <h2 class="hero__subtitle">Por una vida tejida en verde</h1>
                <!-    <a href="#" class="hero__cta">Comenzar</a>    boton inservible  -> 
            </div>
        </section>
      -->
    </div>
    <div class="hero__wave" style="overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C150.00,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
</header>